# Build results
bin/
obj/
out/

# Visual Studio
.vs/

# User-specific files
*.user
*.rsuser

# Logs
*.log

# Secrets
appsettings.Development.json

node_modules/
dist/
.env

# Database files
*.db
*.db-shm
*.db-wal